<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Users server </title>
    </head>
    <body>
        <h1>
            Information about individual user
        </h1>
        <% if( found ){ %>
            <h2>
                User: <%= user.firstName %> <%= user.lastName %> 
            </h2>
            <h2>
                Id: <%= user.id %> 
            </h2>
        <% } else { %>
            <h2>
                There is no user with that id
            </h2>
        <% } %>
    </body>
</html>